<form id="form" #form  [formGroup]="eventForm">
  <h3>Edit Event</h3>
  <div class="dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">Title:</div>
      <dx-text-box
        class="dx-field-value"
        formControlName="title"
      ></dx-text-box>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Event Date:</div>
      <dx-date-box type="date" formControlName="eventDate"> </dx-date-box>
    </div>
  </div>
   <div class="dx-field">
    <dx-data-grid
      id="gridContainer"
      #gridContainer
      [remoteOperations]="false"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [dataSource]="uploadedfiles"
      [selectedRowKeys]="[]"
    >
        <dxi-column dataField="name" caption="File Name"></dxi-column>
  </dx-data-grid>
  </div>
  <div id="fileuploader-container">
    <div class="dx-field-label" style="margin:5px;">Add additional files:</div>
    <dx-file-uploader #fileUploader
      uploadMode="uswButtons"
      [multiple]="true"
      (onValueChanged)="onValueChange($event)"
    ></dx-file-uploader>
  </div>

  <dx-button
    id="button"
    text="Save Event"
    type="success"
    (onClick)="saveEvent()"
  ></dx-button>
</form>
